 /* for desktop: */
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
 .col-3{width: 25%;}
 .col-4{width: 33.33%;}
 .col-5{width: 41.66%;}
 .col-6{width: 50%;}
 .col-7{width: 58.33%;}
 .col-8{width: 66.66%;}
 .col-9{width: 75%;}
 .col-10{width: 83.33%;}
 .col-11{width: 91.66%;}
 .col-12{width: 100%;}


 .nav-logo{
     margin: 0 ;
     float: left;
     text-align: left;
 }
 .nav-heading h1{
     float: right;
     text-align: right;
     padding-top: 0; 
     margin: 0;
 }
 .navbar-menu{
     float:right;
     flex-direction: row;
     justify-content: flex-end;
     
     }
 .navbar-menu a{
     padding: 5px 10px;
     margin: 0;
     background-color: transparent;
     
 }
 /*navbar ends here*/

/*Profile strats here*/
.profile .top-weather-icon{
    right: 100px;
    width: 120px;
    transition:width 2s, transform 2s;

}
.profile .top-weather-icon:hover{
 width: 140px;
}
.profile .bottom-weather-icon{
    bottom: 20px;
    left: 140px;
    width: 120px;
    transition:width 2s, transform 2s;

}
.profile .bottom-weather-icon:hover{
    width: 140px;
}
.profile-desc p{
    color: gray;
    margin: 0  auto;
    width: 50%;
    text-align: center;
   margin-bottom: 10px;
}
/*Profile ends here*/

/*aboutme starts here*/
.abouteme-image{
    margin-top: 100px;
}
.abouteme-image img{
    height: 270px;
    width: 250px;
}
.aboutme-desc p{
    text-align: left;

}



/*aboutme ends here*/

/*professional-experience starts here*/
.professional-experience{
   padding: 1% 5%;
  
    
}

.contact button{
    
    width: 170px;
}
.contact-links{
    position: relative;
}
.media-buttons {
    position: absolute;
    margin-top: 200px;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
}

/*professional-experience ends here*/

/*footer starts from here*/

.footer-menu{
    margin-top: 12px;


}
.footer-menu a{
    display: inline;
    margin: 10px;
}


/*footer ends here*/